* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url(/images/background.png) repeat;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  margin: 35px;
  transition: .5s;
}

.navbar a:hover {
  color: #0ef;
}

.home {
  margin-top: 100px;
  margin-left: 35px;
  padding: 70px 10% 5px;
  background-position: center;
  display: inline-block;
}

.home-content {
  display: inline-block;
  position: relative;
  bottom: 150px;
}

.home-dp {
  display: inline-block;
  position: relative;
  left: 70px;
}

.home-content h4 {
  font-size: 32px;
}

.home-content h1 {
  font-size: 56px;
}


.socials {
  padding-left: 12%;
  padding-top: 10px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  transition: .5s;
  position: relative;
  bottom: 150px;
}

.socials a {
  font-size: 25px;
  color: #0ef;
  text-decoration: none;
  transition: .5s;
}

.stats {
  align-items: center;
  margin-top: 100px;
  margin-left: 350px;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
  font-size: 20px;
  transition: .5s;
}

.stats a {
  color: #fff;
}

.projects {
  margin-top: 100px;
  position: relative;
  /* width: 100%; */
  justify-content: space-between;
  background-position: center;
  display: block;
  align-items: center;
  padding: 70px 10% 0;
  font-size: 20px;
}

.projects a {
  color: #fff;
}







